<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tengke.supermarket.mapper.GoodsMapper">

    <!--分页查询商品信息-->
    <select id="selectGoodsByPage" resultType="Goods" parameterType="map">
        select * from goods where gds_status != '0' limit #{start},#{size};
    </select>
    <!--查询记录条数-->
    <select id="countGoods" resultType="int">
        select count(*) from goods where gds_status != '0';
    </select>
    <!--根据商品编号查找商品信息-->
    <select id="selectGoodsById" resultType="Goods">
        select * from goods where gds_id=#{gdsId} and gds_status != '0';
    </select>
    <!--增加商品信息-->
    <insert id="addGoods" parameterType="Goods">
        insert into goods values (#{gdsId}, #{gdsName}, #{brand}, #{model}, #{category}, #{price}, #{amount}, #{gdsState}, #{unit});
    </insert>
    <!--通过商品名字查找商品编号-->
    <select id="selectIdByName" parameterType="string" resultType="Integer">
        select gds_id from goods
        <if test="name!=null">
            where gds_name like concat ('%',#{name},'%')
        </if>
        ;
    </select>
    <!--分页查询库存告急的商品信息-->
    <select id="selectGoodsLessByPage" resultType="Goods">
        select * from goods where amount &lt; 50 limit #{start},#{size};
    </select>
    <!--查询库存不足的商品记录条数-->
    <select id="countGoodsLess" resultType="int">
        select count(*) from goods where amount &lt; 50;
    </select>
    <!--修改商品信息-->
    <update id="updateGoods" parameterType="Goods">
        update goods
         <set>
             <if test="gdsId!=null">gds_id=#{gdsId},</if>
             <if test="gdsName!=null">gds_name=#{gdsName},</if>
             <if test="brand!=null">brand=#{brand},</if>
             <if test="model!=null">model=#{model},</if>
             <if test="category!=null">category=#{category},</if>
             <if test="price!=null"> price=#{price},</if>
             <if test="amount!=null"> amount=#{amount},</if>
             <if test="gdsStatus!=null"> gds_status=#{gdsStatus},</if>
             <if test="unit!=null"> unit=#{unit}</if>
         </set>
         where gds_id=#{gdsId};
    </update>

    <!--通过商品名字查找商品编号-->
    <select id="selectNameById" resultType="string">
        select gds_name from goods where gds_id = #{gdsId};
    </select>
</mapper>